
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box; 
  overflow-x: hidden; 
}


*{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.main-nav{
  position: fixed;
  z-index: 3;
  width: 100%;
}


/* all-nav class  include two sub-classes that name is navbar-class[class-pb] and class = fs-and-si[id = si <-- class-form and id = fs <-- Montreal { class = "name" }] */
.all-nav{
  background: #Da291c;
  box-shadow: 1px 1px 4px  #Da291c;
  box-shadow: -1px -1px 4px #Da291c;
  width: 100%;
  padding: 1rem 0;

  
}
/* navbar class have two sub classes class: pb and class: fs-and-si. */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #Da291c;
  color: white;
  padding: 0rem 7rem;
  box-shadow: #Da291c 1px 1px;
}

/* class : fs-and-si */
.fs-and-si{
  display: flex;
  margin-left: 2rem;

}
/* we have id : fs in class : fs-and-si */
.fs-and-si #fs{
  padding-left: 1rem;
}



/* path: class: main-nav <-- class: all-nav <-- class: navbar <-- class: pb <== heading (personal and business) */
.pb h3{
  display: inline-block;
  margin-left: 3rem;
}
.pb a{
  text-decoration: none;
  color: white;
}
/* for dropdown menu */
/* Montreal class that include store and name classes we give position relative beacuse it is parent directory of class store and name. */
 .Montreal{
  position: relative;
  display: inline-block;
}
.Montreal .store{
  background: #Da291c;
  color: white;
  min-width: 60px;
  border: none;
}
/* hover effects for store class  */
.Montreal .store:hover span{
  background-color: #Da291c;;
  color: white;
  cursor: pointer;
}

.Montreal .store:hover{
  background-color: #Da291c;;
  color: wheat;
  cursor: pointer;
}
/*  location names that we want to include and we give absolute position to class-name: name  */
.name
{
   display: none;
   position: absolute;
   padding-top: 2rem;
   z-index: 3;
}
.name a{
  text-decoration: none;
  color: white;
  margin-top: 0.5rem;
  display: block;
  padding: 8px 0;
  border: 1px black solid;
  background-color: coral;

}

.name a:hover{
  color: black;
  
}
/* when we go to the find store button then our locations will be displayed as block. */
.Montreal:hover .name
{
  display: block;
}
/* for all form  */
.info{
  background: white;
  color: blue;
  padding: 1rem 3rem;
  border-radius: 10px;
  margin-right: 20rem;
  font-size: 14px;
  
}
/* we gonna do css for form class info */
.form .info .Form-header{
  background: #f1f3f5;
  padding: 4px;
  color: black;
  font-size: 10px;
  
}
.Form-body #check{
  margin-right: 0.5rem;
  margin-top: 1px;
}
.form .Form-header #icon{
  display: flex;
  padding: 5px;
  color: silver;  
}

.Form-header p{
  color: black;
  display: flex;
  padding: 2px;
}
/* we have to display flex otherwise everything will be shown into middle that looh ugly*/
.Form-body label , .Form-body p , input{
   display: flex;
   padding-right: 8px;
   color: silver;

}

.Form-body input{
  border-radius: 3px;
}

  .Form-body button{
    padding: 4px 60px;
    border-radius: 3px;
    background-color: #Da291c;
    color: white;

  }
  .Form-body p{
    display: flex;
  }

  .form .form-footer{
  background: #f1f3f5;
  padding: 4px;
  color: black;
  font-size: 10px;
  }

  .form-footer p{
    display: flex;
    padding: 10px;
  }
 /* for  form drop down */
/*  concept is same as find store */
 .form{
   display: inline-block;
   position: relative;
   
 }

 .form .Sign-in:hover{
   cursor: pointer;
   color: green;
 }
 
 .form .Sign-in:hover span{
  cursor: pointer;
  color: white;
}
 .form .info{
   position: absolute;
   z-index: 3;
   display: none;
   padding-top: 2rem;
   margin-top: 15px;
   border: 1px solid black;
 
}


 .form:hover .info{
   display: block;
  
}

/* css for header class */
/* path: class: header <-- class: logo + class: header-links */
.header{
  display: grid;
  grid-template-columns: 5fr 5fr;
  background-color: #FFFFFFF2;
  color: #414042;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  box-shadow: 1px 1px 10px  silver;
  box-shadow: -1px -1px 10px  silver;
  
}
.header .logo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 200px;
  color: #Da291c;
  margin-left: 200px;
  margin-top: 24px;
 
}
/* hover effect on logo */
.header .logo:hover{
  transition: color 3s ease;
  color: rebeccapurple; 
  cursor: pointer;
  text-shadow: rgb(14, 45, 221) 1px 1px 2px 2px;
}

.header .logo span{
  color: black;
}

.header .header-links a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header .header-links a:hover{
  text-decoration: none;
  color: red;
  font-size: 20px;
}
.header-links{
  padding-top: 30px;  
  display: flex;
}
.header-links p{
  margin-left: 2rem;
}

.Sregor-types{
  position: absolute;
  height: 300px;
  width: 700px;
  background: #f1f3f5;
  border: 1px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 30px;
}

.Sregor-types > p {
  padding: 2rem 4rem;
}

.Sregor-types > .three-types{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  text-align: center;
  z-index: 3;
}
.Sregor-types > .three-types  a{
  text-decoration: none;
  color: black;
  padding: 2rem;
}

.header-2{
  width: 100%;
  text-align: center;
  position: relative;
  background: white;
  margin-top: 200px;
  padding: 2rem 0;
}

.header-2:hover{
  color: #Da291c;
  cursor: pointer;
  transition: color 3s 1s ease;
}

.main-section-background-img{
 
  background: url('/Img/wcr-background-img-001.jpg') no-repeat center center/cover;
  height: 70vh;
  width: 100vw;
  position: relative;
  
}
.main-Wireless{
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 2;
}

.main-Wireless > .heading{
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
}
.main-Wireless > p{
  text-align: center;
}
.main-Wireless > .wireless-info{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 2;
  text-align: center;
  padding: 2rem;
 

}
.main-Wireless > .wireless-info > div{
  padding: 2rem;
}
.main-Wireless > .wireless-info  #a{
  font-weight: bold;
  padding: 1rem;
}

.main-Wireless > .wireless-info  a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.main-Wireless > .wireless-info span{
  font-weight: bold;
}
.main-Wireless > .wireless-info > .network > #b{
  font-size: xx-small;
}


.Shop-background-img{
    background: url('/Img/shop-background-img-01.jpg') no-repeat center center/cover;
    position: relative;
    height: 50vh;
    width: 100vw;
    z-index:2;
}
.main-mobile-internet{
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 2;
}
.main-mobile-internet > .heading{
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
}
.main-mobile-internet > p{
  text-align: center;
  margin: auto;
  padding: 1rem 8rem;

}
.main-mobile-internet > .mobile-internet-info{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2;
  text-align: center;
  padding: 2rem;
 

}
.main-mobile-internet  > .mobile-internet-info > div{
  padding: 2rem;
}
.main-mobile-internet  > .mobile-internet-info  #a{
  font-weight: bold;
  padding: 1rem;
}

.main-mobile-internet  > .mobile-internet-info  a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


.Shop-background-img-2{
  background: url('/Img/shop-background-img-02.jpg') no-repeat center center/cover;
  position: relative;
  height: 50vh;
  width: 100vw;
  z-index:2;
}

.Wireless-home-phone{
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 2;
}
.Wireless-home-phone > .heading{
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
}
.Wireless-home-phone > p{
  text-align: center;
  margin: auto;
  padding: 1rem 8rem;

}
.Wireless-home-phone > .Home-phone-info{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2;
  text-align: center;
  padding: 2rem;
 

}
.Wireless-home-phone  > .Home-phone-info > div{
  padding: 2rem;
}
.Wireless-home-phone  > .Home-phone-info  #a{
  font-weight: bold;
  padding: 1rem;
}

.Wireless-home-phone  > .Home-phone-info  a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.all-links{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
}

.link-part-1 , .link-part-2 , .link-part-3 , .link-part-4{
  list-style: none;
  
}

.link-part-1 > li , .link-part-2 > li , .link-part-3 > li , .link-part-4 > li{
  padding: 0.5rem;
  
}

.link-part-1 > li:hover , .link-part-2 > li:hover , .link-part-3 > li:hover, .link-part-4 > li:hover{
  color: blueviolet;
  cursor: pointer;
}

.link-part-4 > .social-links{
  display: flex;
  padding: 2rem 0.5rem;
}

.link-part-4 > .social-links > li{
  margin-right: 1rem;
}
/* css for class logo */

.footer .logo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 200px;
  color: #Da291c;
  margin-left: 1.5rem;
  margin-top: 24px;
 
}

.footer .logo:hover{
  transition: color 3s ease;
  color: rebeccapurple; 
  cursor: pointer;
  text-shadow: rgb(14, 45, 221) 1px 1px 2px 2px;
}

.footer .logo span{
  color: black;
}

.link-part-4  .social-links li a{
  list-style: none;
  color: black;
}

.link-part-4  .social-links li:hover{
  background: #Da291c;
  border-radius: 12px;
}

/*class: copy-right */
 .footer > .copy-right{
  text-align: center;
  padding: 2rem 0;
}

.footer{
  padding: 0 5rem;
}
